body {
    color: #414A59;
    margin: 0px;
    padding: 0px;
    max-height: 100%;
}
html {
    margin: 0px;
    padding: 0px;
    background-color: #E9ECEF;
}
#justify {
    text-align: justify;
    text-justify: inter-word;    
    padding: 0 20px 0;
}

.centerTitle {
    margin: auto;
    text-align: center;
}

#mainTitle{
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

a:hover {
    text-decoration: none;
    color: #CC575D;
}

a {
    color: #5294E2;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.border {
    border: 0.5px solid #414A59 !important;
    border-radius: 30px;
}